<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cerebrik.com.calendarexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="cerebrik.com.calendarexample.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cerebrik.com.calendarexample.CalendarViewWithNotesActivity"
            android:parentActivityName="cerebrik.com.calendarexample.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cerebrik.com.calendarexample.MainActivity" />
        </activity>
        <activity
            android:name="cerebrik.com.calendarexample.CreateEventActivity"
            android:parentActivityName="cerebrik.com.calendarexample.CalendarViewWithNotesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cerebrik.com.calendarexample.CalendarViewWithNotesActivity" />
        </activity>
        <activity
            android:name="cerebrik.com.calendarexample.SelectDateAndTimeActivity"
            android:parentActivityName="cerebrik.com.calendarexample.CreateEventActivity"
            android:theme="@style/AppTheme.NoActionBar.Transition">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cerebrik.com.calendarexample.CreateEventActivity" />
        </activity>
    </application>

</manifest>